p{
  color:red;
}

#server-side-intro {
  color: yellow;
}

#main {
  font-size: 40px;
}

h2{
  text-font: Verdana;
  text-size: 22px;
  color: purple;
}

.my-brain {
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
  text-transform: capitalize;
  color: pink;
}
